{% extends "layout.html" %}

{% block code %}


    <!--contact form-->

        <div class="container fborder">
            <div class="row">
          <div class="col-lg-12  text-center">
              <h2 class=" text-center text-uppercase text-secondary drop">Drop Your Message</h2>
          </div>
            </div>
                <div class="row">
  <form action="{{ url_for('output') }}" method="post" >
    <div class="form-group">
      <input type="text" class="form-control" id="Emaile" placeholder="Message" name='sms'>
    </div>
    <center><input type="submit" class="btn btn-primary" value="Submit" /> </center>
    <!-- <center><button type="submit" class="btn btn-primary">Submit</button> </center> -->
</form>

         </div>

         </div>
{% endblock %}
